<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Said Choquehuanca" >

  <title>SAID-CA</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Personal Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Biografía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Utec</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Preguuuntame</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
   <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Quien soy?</h1>
            <span class="subheading">Un estudiante de Utec~~</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hola, mi nombre completo es Said Martin Choquehuanca Alberto y tengo 17 años. Siempre vivi en Lima,Perú y soy estudiante de la universidad de Ingeniería y Tecnología(UTEC) cursando el tercer ciclo y con muchas ganas
        de seguir aprendiendo todo sobre computación y matemáticas.</p>
        <p>Cuando era niño solía gustarme el futbol, como a cualquier niño a esa edad, sin embargo, pasando los años dejaba de hacerlo y dedicaba mas mi tiempo a los estudios, más que nada a las matemáticas.
        Cuando entre a la secundaria, empezó mi gusto por la química, puesto que me gustaba estar en el laboratorio haciendo experimentos con compuestos quimicos y disfrutaba haciendolo. </p>
        <h5>¿Y las computadoras?</h5>
        <p>Resulta que a los 14 años me compraron una computadora, al principio no le hacia mucho caso, puesto que estudiaba y preferia la química, sin embargo, cierto día me entro la curiosidad de prender la máquina y quedarme
        un buen rato ahí, estuve indagando por la biblioteca, los registros, algunos codigos en html que habian dentro de los archivos de windows y fue ahi donde empezó mi gusto por la computación, en consecuencia, cada vez más
        empezaba a preferir la computadora que estar en el laboratio y dejó de gustarme la química.</p>
        <p>Por último, puesto que me gustaba las computadora, mis padres me dijeron que estudie Ingeniería de Sistemas, sin embargo, ese mismo año de 4to de secundaria, vino mi primo, quien me dijo de la Utec y acerca de la
        carrera de Ciencias de la Comptuación, y me gustó, pedí mayor información acerca de la carrera en la Utec y potulé en 2016.</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/MasteryUser">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/said.martinca">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/SaidChoquehuanca">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer> 	

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='js/clean-blog.min.js')}}"></script>

</body>

</html>
