<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ciencias de la Computacion - Ingresar</title>

  <!-- Custom fonts for this template-->
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
  <script>
  function validateForm(){
        var strEmail =document.forms["frmPrincipal"]["txtCorreoElectronico"].value;
        var strPassword = document.forms["frmPrincipal"]["txtPassword"].value;
        if(strEmail== "said.choquehuanca@utec.edu.pe" && strPassword=="Ut3c5141"){
          const objExito = document.getElementById("Exito");
          objExito.action("index.html");
          alert("Entrada exitosa");
          return true;
        }
        else{
          var objError= document.getElementById("iblError");
          objError.style.visibility= "visible";
          //alert("Contraseña y/o usuario incorrecto. ");
          return false;
        }
  }

  </script>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido al curso de ciencias de la computacion</h1>
                  </div>
                  <form class="user" name="fmrPrincipal" id="frmPrincipal" method="POST" onsubmit="return validateForm()">
                    <div class="alert alert-danger" role = "alert" id="iblError" style="visibility: hidden">
                      <i class="fas fa-excalamation-triangle"></i>&nbsp;
                      usuario y/o contraseña incorrecto!
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="txtCorreoElectronico" aria-describedby="emailHelp" placeholder="Correo Electronico">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="txtPassword" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recordar Contraseña</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-user btn-block">
                      Ingresar
                    </button>
                    <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Ingresar con Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Ingresar con Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">olvidaste la contraseña?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Crear nueva cuenta</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

</body>